name: Test-haskell

on:
  push:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-haskell@v1
      with:
        ghc-version: '8.10.3'
        cabal-version: '3.2'

    - name: Cache
      uses: actions/cache@v3
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        cabal update
        cabal build --only-dependencies
    - name: Build
      run: cabal build texgen
    - name: Run
      run: |
        ls ./examples/
        mkdir test
        for src in $(find ./examples/ -name '*.ttex')
        do
          echo "Testing $src"
          base="$(basename $src .ttex)"
          dir="$(dirname $src)"
          
          curOut="./test/$base.tex"
          savedOut="$dir/$base.tex"
          
          cabal run texgen -- "$src" -o $curOut
          diff --ignore-all-space $curOut $savedOut
        done
    - name: Printing output diffs
      run: |
        for src in $(find ./examples/ -name '*.ttex')
        do
          echo "Printing diff $curOut $savedOut"
          base="$(basename $src .ttex)"
          dir="$(dirname $src)"
          
          curOut="./test/$base.tex"
          savedOut="$dir/$base.tex"
          
          sdiff --ignore-trailing-space -l $curOut $savedOut | cat -n | grep -v -e '($' || :
        done
